<p class='footer'>
  <strong>
    <%= current_year() %>
    shilin-anton
    <a href=<%= github_url('shilin-anton','Thinknetica_Black_Jack') %>>TestGuru</a>
  </strong>
  My Rails-basics project
  <a href='https://thinknetica.com/'>Учебный проект в онлайн-школе Thinknetica</a>
</p>
